/* Add CSS Styling */
.odd-num {
  background-color: rgb(252, 132, 132);
  font-family: Verdana, DejaVu Sans, sans-serif;
}

#second-element {
  color: blue;
  font-size: 36px;
}

.third-element {
  font-size: 24px;
}

#fourth-element {
  background-color: rgb(169, 255, 169);
  font-size: 24px;
  font-weight: bold;
}