 /* After self check: */
 * {
  box-sizing: border-box;
 }

.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}




.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
}



a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

/* Mistakes made:
  adding flex direction to both ul > .right-links and .left-links
  trying to add margin to logo
  more unnecessary workarounds
*/