/* Add CSS Styling */

/* Before self check: no added height attribute */
/* After self check: added height: auto; */
.avatar.proportioned {
  height: auto;
  width: 300px;
}

.avatar.distorted {
  width: 200px;
  height: 400px;
}